<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
</head>
<body>
            <form name="technique" method="POST">
                <p>input name</p>
                <input name="name" value="{{ technique.name }}">
                <p>input difficulty</p>
                <input name="difficulty" value="{{ technique.difficulty }}">
                <p>input description</p>
                <input name="description" value="{{ technique.description }}">
                <p></p>
                <button type="submit" name="submitbutton" value="technique">Submit</button>
            </form>
</body>
</html>