<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Member</title>
</head>
<body>
            <form name="member"  method="POST">
                <p>input name</p>
                <input name="name" value="{{ member.name }}">
                <p>input level</p>
                <input name="level" value="{{ member.level }}">
                <p>input affiliation</p>
                <input name="affiliation" value="{{ member.affiliation }}">
                <p> </p>
                <button type="submit" name="submitbutton" value="member">Submit</button>
            </form>
</body>
</html>