<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insert into Database</title>
</head>
<body>
<p>
    welcome to the database
    logged in as {{ user }}
</p>
<p>
    <a href="{{ url_for('app.index') }}">Log out</a>
</p>
<p style="color:red">
    {{ errortext }}
</p>
<table style width="100%">
    <tr>
        <th style="text-align:left" > Member input </th>
        <th style="text-align:left" > Technique input </th>
        <th style="text-align:left" > Class input </th>
    </tr>
    <tr>
        <td>
            <form name="member"  method="POST">
                <p>input name</p>
                <input name="name">
                <p>input level</p>
                <input name="level">
                <p>input affiliation</p>
                <input name="affiliation">
                <p> </p>
                    <button type="submit" name="submitbutton" value="member">Submit</button>
            </form>
        </td>
        <td>
            <form name="technique" method="POST">
                <p>input name</p>
                <input name="name">
                <p>input difficulty</p>
                <input name="difficulty">
                <p>input description</p>
                <input name="description">
                    <p></p>
                <button type="submit" name="submitbutton" value="technique">Submit</button>
            </form>
        </td>
        <td>
            <form name="class" method="POST">
                <p>input date</p>
                <input type="date" name="classdate"
                value="2021-03-22"
                min="2021-01-01" max="2025-12-31">
                <p>amount of students</p>
                <select name="studentscount">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <p>amount of techniques</p>
                <select name="techniquescount">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                    <p></p>
                <button type="submit" name="submitbutton" value="addclass">Submit</button>
            </form>
        </td>
    </tr>
</table>
<p><a href="/viewclass/0/0">View classes</a></p>
<table>
    <tr>
    <th>Members</th>
        <th></th>
    <th>Techniques</th>
    </tr>
    <tr>
        <td>
            <div class="table1">
        {% if members|length < 1 %}
    <h4 style="text-align: center">empty table<a href="/view/0">add some data</a> </h4>
    {% else %}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Level</th>
            <th>Affiliation</th>
            <th>Actions</th>
        </tr>
        {% for member in members %}
            <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.name }}</td>
                <td>{{ member.level }}</td>
                <td>{{ member.affiliation }}</td>
                <td>
                    <a href="/deletemember/{{member.id}}">Delete</a>
                    <br>
                    <a href="/updatemember/{{member.id}}">Update</a>
                    <br>
                    <a href="/viewclass/1/{{member.id}}">View classes</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
        </td>
        <td>

        </td>
        <td>
            <div class="table2">
        {% if techniques|length < 1 %}
    <h4 style="text-align: center">empty table<a href="/view/0">add some data</a> </h4>
    {% else %}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Difficulty</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        {% for technique in techniques %}
            <tr>
                <td>{{ technique.id }}</td>
                <td>{{ technique.name }}</td>
                <td>{{ technique.difficulty }}</td>
                <td>{{ technique.description }}</td>
                <td>
                    <a href="/deletetechnique/{{technique.id}}">Delete</a>
                    <br>
                    <a href="/updatetechnique/{{technique.id}}">Update</a>
                    <br>
                    <a href="/viewclass/2/{{technique.id}}">View classes</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
        </td>
    </tr>
</table>




</body>
</html>